@import "../../../../pack/Layouts/sizes";

#site {
  .color-hue-selector {
    display: flex;
    flex-wrap: wrap;

    .active, .inactive {
      width: 100%;
      height: 100%;
    }

    .active {
      border: solid 1px;
    }
  }

  .color-hues-palette-grid {
    display: grid;
    grid-template-columns: repeat(4, $widthTiny);
    grid-template-rows: repeat(5, $widthTiny);
    justify-content: center;
  }

  .color-hues-palette-large-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, $widthSmall);
    justify-content: stretch;
  }
}