@import "../../../../pack/Layouts/sizes";

#site .color-picker-grid {
  display: grid;
  grid-template-columns: repeat(11, $widthTiny * 1.5);
  grid-auto-rows: $widthTiny;
  justify-content: center;
}