@import "../colors";
@import "../../Layouts/sizes";

@mixin graphicBasics() {
  hr {
    @include lightBorderColor('alpha', 'fader', 'dusky');
    @include lightColor('alpha', 'fader', 'dusky');
    border-bottom: solid 1px;
    margin-top: $gapPlus;
    margin-bottom: $gapPlus;
  }
}