@import "../colors";

@mixin formControlsGraphics() {
  form {
    input, select, option {
      @include color('alpha', 'bright', 'light');
      border-bottom: solid 1px;
    }

    button {
      @include color('beta', 'bright', 'light');
    }

    button:hover {
      @include color('beta', 'pastel', 'light');
    }
  }
}