@import "../sizes";
@import "../positionTools";
@import "../../Graphics/colors";
@import "../../Graphics/fonts";

@mixin calendar() {

  .calendar {
    overflow-y: auto;
    padding: $gapSmall;
    border: solid 1px;
    @include lightBorderColor('alpha', 'fader', 'darker');

    .calendar-line {
      position: relative;
      border-bottom: solid 1px;
      @include lightBorderColor('alpha', 'fader', 'dusky');
      padding: $gapSmall $widthMini $gapSmall $gapSmall;
      display: block;
      height: $widthMini;
      max-height: $widthMini;

      .calendar-line-control {
        width: $widthMini;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        @include center();

        &.available {
          @include textColor('beta', 'brighter', 'light');
          cursor: pointer;
        }

        &.not-available {
          @include textColor('omega', 'brighter', 'light');
          cursor: not-allowed;
        }
      }

      .calendar-line-month {
        position: absolute;
        top: $gapMini;
        right: $widthMini;
        bottom: 0;
        left: 0;
        background: none;
        border: none;
        padding-right: $widthMini;
        padding-left: $gapSmall;
        @include centerVertically();
        @include maximize();
      }

      .calendar-line-year {
        position: absolute;
        top: 0;
        left: 0;
        bottom: $widthMini / 2;
        float: left;
        @include lemonada();
        font-size: 8px;
        font-style: italic;
      }
    }
  }
}