@import "../sizes";
@import "../positionTools";
@import "../../Graphics/colors";

@mixin modalForm() {

  .modal-form {
    width: 400px;

    .modal-form-group {
      > label {
        font-weight: bolder;
      }

      > label, > div {
        position: relative;
        border-bottom: solid 1px;
        @include lightBorderColor('alpha', 'fader', 'dusky');
        padding: $gapSmall $widthMini $gapSmall $gapSmall;
        display: block;
        height: $widthMini;
        max-height: $widthMini;
        max-width: 400px;

        .modal-form-control {
          width: $widthMini;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          @include center();
          cursor: pointer;
        }

        input {
          position: absolute;
          top: 0;
          right: $widthMini;
          bottom: 0;
          left: 0;
          background: none;
          border: none;
          padding-right: $widthMini;
          padding-left: $gapSmall;
          @include maximize();
        }
      }

      &:not(:last-of-type) {
        margin-bottom: $gapSmall;
      }

    }

  }

  .modal-end {
    width: 400px;
    display: flex;
    justify-content: flex-end;

    .modal-button {
      width: 100px;
      padding: $gapSmall;
    }
  }
}