@import "../sizes";
@import "../positionTools";

@mixin formsMain() {
  form.main-form {
    width: 3*$listItemWidth;

    h1, h2, h3, h4, h5, h6 {
      width: 3*$listItemWidth;
      @include center();
    }

    label {
      width: 3*$listItemWidth;
      height: $navHeight / 2;
      @include maximize();
      display: block;
    }

    button, input, select, option {
      width: 3*$listItemWidth;
      height: $navHeight;
      margin-bottom: $gapNormal;
      padding-left: $gapSmall;
    }
  }
  .closeButton {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
  }
}