@import "../../Graphics/colors";
@import "../sizes";
@import "../positionTools";

@mixin modalWindow() {
  .modal-window-fix, .modal-window-fluid {
    border: solid 1px;
    @include lightBorderColor('alpha', 'fader', 'dusky');

    overflow: auto;
    left: 0;

    @include mediaMaxTiny() {
      right: 0;
    }
    @include mediaMinSmall() {
      width: $screenWidthLimit;
    }

    .close-button {
      //@TODO - améliorer le design de ce bouton
      font-weight: bolder;
      @include textColor('omega', 'bright', 'light');
      position: absolute;
      right: 0;
      top: 0;
      width: 1.2*$widthMini;
      height: 1.2*$widthMini;
      font-size: 1.5em;
      @include center();
      cursor: pointer;
    }

    padding-right: $widthMini;
  }

  .modal-window-fix {
    position: fixed;

    @include mediaMaxTiny() {
      top: 2 * $navHeight;
      @include mediaHighScreen() {
        top: 5 * $navHeight;
      }
    }
    @include mediaMinSmall() {
      top: 2.5 * $navHeight;
      @include mediaHighScreen() {
        top: 5.5 * $navHeight;
      }
    }

    bottom: 0;
    @include mediaHighScreen() {
      bottom: 20%;
    }
  }

  .modal-window-fluid {
    position: absolute;
  }

  .modal-window-fix, .modal-window-fluid {
    @include color('alpha', 'fade', 'light');
    opacity: 0.96;
  }
}