@import "../sizes";

@mixin clothLayout(
  $gap, $gridTotalColumns, $gridTotalRows,
  $mainPictureRowSpan, $secondaryPictureWidth,
  $brandColumn, $descriptionRow, $calendarRow, $calendarColumn,
  $clothLayerPicturesHeight, $clothLayerPicturesColumnArea, $clothLayerPicturesRowArea
) {

  @include GridGap($gap);

  .cloth-layer-main-picture {
    grid-column: 1 / span 1;
    grid-row: 1 / span $mainPictureRowSpan;
  }
  .cloth-layer-brand {
    grid-column: $brandColumn / span 1;
    grid-row: 1 / span 1;
  }
  .cloth-layer-description {
    grid-column: 2 / span 1;
    grid-row: $descriptionRow / span 1;
  }
  .cloth-layer-calendar {
    grid-column: $calendarColumn / span 1;
    grid-row: $calendarRow / span 2;
  }
  .cloth-layer-pictures {
    display: grid;
    @include GridGap($gap);
    grid-template-columns: repeat(auto-fill, $secondaryPictureWidth);
    justify-content: start;
    grid-auto-rows: PortraitHeight($secondaryPictureWidth);
    overflow-y: auto;
  }
  .cloth-layer-recommendations {
    grid-column: 1 / span $gridTotalColumns;
    grid-row: $gridTotalRows / span 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    > div:nth-child(n + 5) {
      display: none;
    }

    > div {
      margin-right: $gap;
    }
  }

  .cloth-layer-pictures, .cloth-layer-pictures-empty {
    height: $clothLayerPicturesHeight;
    grid-column: $clothLayerPicturesColumnArea;
    grid-row: $clothLayerPicturesRowArea;
  }
}

@mixin clothPage() {

  .cloth-container {
    display: grid;

    @include mediaMiniScreen() {
      $gridTotalRows: 5;
      $gridTotalColumns: 2;
      $gap: $gapTiny;

      $mainPictureWidth: $widthSmall + $gap;
      $mainPictureHeight: PortraitHeight($widthSmall);
      $clothLayerPicturesHeight: $mainPictureHeight + PortraitHeight($gap);
      $secondaryPictureWidth: $widthTiny;

      grid-template-columns: $mainPictureWidth 1fr;
      grid-template-rows: repeat(4, $mainPictureHeight / 2) auto;

      $brandColumn: 2;
      $descriptionRow: 2;
      $mainPictureRowSpan: 2;
      $calendarColumn: 1;
      $calendarRow: 3;
      $clothLayerPicturesColumnArea: 2 / span 1;
      $clothLayerPicturesRowArea: 3 / span 2;

      @include clothLayout(
                      $gap, $gridTotalColumns, $gridTotalRows,
                      $mainPictureRowSpan, $secondaryPictureWidth,
                      $brandColumn, $descriptionRow, $calendarRow, $calendarColumn,
                      $clothLayerPicturesHeight, $clothLayerPicturesColumnArea, $clothLayerPicturesRowArea
      );


    }

    @include mediaTinyScreen() {
      $gridTotalRows: 5;
      $gridTotalColumns: 2;
      $gap: $gapSmall;

      $mainPictureWidth: $widthSmall + $gap;
      $mainPictureHeight: PortraitHeight($widthSmall);
      $clothLayerPicturesHeight: $mainPictureHeight + PortraitHeight($gap);
      $secondaryPictureWidth: $widthTiny;

      grid-template-columns: $mainPictureWidth 1fr;
      grid-template-rows: repeat(4, $mainPictureHeight / 2) auto;

      $brandColumn: 2;
      $descriptionRow: 2;
      $mainPictureRowSpan: 2;
      $calendarRow: 3;
      $calendarColumn: 1;
      $clothLayerPicturesColumnArea: 2 / span 1;
      $clothLayerPicturesRowArea: 3 / span 2;

      @include clothLayout(
                      $gap, $gridTotalColumns, $gridTotalRows,
                      $mainPictureRowSpan, $secondaryPictureWidth,
                      $brandColumn, $descriptionRow, $calendarRow, $calendarColumn,
                      $clothLayerPicturesHeight, $clothLayerPicturesColumnArea, $clothLayerPicturesRowArea
      );

    }

    @include mediaSmallScreen() {
      $gridTotalRows: 5;
      $gridTotalColumns: 2;
      $gap: $gapSmall;

      $mainPictureWidth: $widthNormal + $gap;
      $mainPictureHeight: PortraitHeight($widthNormal);
      $clothLayerPicturesHeight: $mainPictureHeight + PortraitHeight($gap);
      $secondaryPictureWidth: $widthTiny;

      grid-template-columns: $mainPictureWidth 1fr;
      grid-template-rows: repeat(4, $mainPictureHeight / 2) auto;

      $brandColumn: 2;
      $descriptionRow: 2;
      $mainPictureRowSpan: 2;
      $calendarColumn: 1;
      $calendarRow: 3;
      $clothLayerPicturesColumnArea: 2 / span 1;
      $clothLayerPicturesRowArea: 3 / span 2;

      @include clothLayout(
                      $gap, $gridTotalColumns, $gridTotalRows,
                      $mainPictureRowSpan, $secondaryPictureWidth,
                      $brandColumn, $descriptionRow, $calendarRow, $calendarColumn,
                      $clothLayerPicturesHeight, $clothLayerPicturesColumnArea, $clothLayerPicturesRowArea
      );

    }

    @include mediaNormalScreen() {
      $gridTotalRows: 4;
      $gridTotalColumns: 3;
      $gap: $gapNormal;

      $mainPictureWidth: $widthNormal + $gap;
      $mainPictureHeight: PortraitHeight($widthNormal);
      $clothLayerPicturesHeight: PortraitHeight($widthSmall);
      $secondaryPictureWidth: $widthSmall;

      grid-template-columns: $mainPictureWidth 1fr $mainPictureWidth;
      grid-template-rows: repeat(2, $mainPictureHeight / 2) $clothLayerPicturesHeight auto;

      $brandColumn: 2;
      $descriptionRow: 2;
      $mainPictureRowSpan: 2;
      $calendarColumn: 3;
      $calendarRow: 1;
      $clothLayerPicturesColumnArea: 1 / span 3;;
      $clothLayerPicturesRowArea: 3 / span 1;

      @include clothLayout(
                      $gap, $gridTotalColumns, $gridTotalRows,
                      $mainPictureRowSpan, $secondaryPictureWidth, $brandColumn, $descriptionRow,
                      $calendarRow, $calendarColumn,
                      $clothLayerPicturesHeight, $clothLayerPicturesColumnArea, $clothLayerPicturesRowArea
      );

    }

    @include mediaLargeScreen() {
      $gridTotalRows: 4;
      $gridTotalColumns: 3;
      $gap: $gapPlus;

      $mainPictureWidth: $widthLarge ;
      $mainPictureHeight: PortraitHeight($mainPictureWidth);
      $secondaryPictureWidth: $widthNormal;

      $firstRowHeight: PortraitHeight($widthNormal) / 2;
      $secondRowHeight: $firstRowHeight;
      $thirdRowHeight: $mainPictureHeight - $firstRowHeight - $secondRowHeight - 2*PortraitHeight($gap);

      $clothLayerPicturesHeight: $thirdRowHeight;
      $calendarWidth: $widthNormal + $gap;

      grid-template-columns: $mainPictureWidth 1fr $calendarWidth;
      grid-template-rows: repeat(2, $firstRowHeight) $thirdRowHeight auto;

      $brandColumn: 2;
      $descriptionRow: 2;
      $mainPictureRowSpan: 2;
      $calendarColumn: 3;
      $calendarRow: 1;
      $clothLayerPicturesColumnArea: 2 / span 2 ;
      $clothLayerPicturesRowArea: 3 / span 1;

      @include clothLayout(
                      $gap, $gridTotalColumns, $gridTotalRows,
                      $mainPictureRowSpan, $secondaryPictureWidth, $brandColumn, $descriptionRow,
                      $calendarRow, $calendarColumn,
                      $clothLayerPicturesHeight, $clothLayerPicturesColumnArea, $clothLayerPicturesRowArea
      );

      .cloth-layer-calendar {
        justify-self: end;
      }
    }

    @include mediaHugeScreen() {
      $gridTotalRows: 4;
      $gridTotalColumns: 3;
      $gap: $gapPlus;

      $mainPictureWidth: $widthLarge;
      $mainPictureHeight: PortraitHeight($widthLarge);
      $secondaryPictureWidth: $widthNormal;
      $calendarWidth: $widthPlus;
      $calendarHeight: PortraitHeight($widthPlus);

      $clothLayerPicturesHeight: PortraitHeight(2 * $secondaryPictureWidth + $gap);

      $secondRowHeight: $calendarHeight;
      $thirdRowHeight: $clothLayerPicturesHeight - $calendarHeight - PortraitHeight($gap);
      $firstRowHeight: $mainPictureHeight - $secondRowHeight - $thirdRowHeight - 2*PortraitHeight($gap);

      grid-template-columns: $mainPictureWidth $calendarWidth 1fr;
      grid-template-rows: $firstRowHeight $secondRowHeight $thirdRowHeight auto;

      $brandColumn: 3;
      $descriptionRow: 1;
      $mainPictureRowSpan: 3;
      $calendarColumn: 2;
      $calendarRow: 2;
      $clothLayerPicturesColumnArea: 3 / span 1;
      $clothLayerPicturesRowArea: 2 / span 2;

      @include clothLayout(
                      $gap, $gridTotalColumns, $gridTotalRows,
                      $mainPictureRowSpan, $secondaryPictureWidth, $brandColumn, $descriptionRow,
                      $calendarRow, $calendarColumn,
                      $clothLayerPicturesHeight, $clothLayerPicturesColumnArea, $clothLayerPicturesRowArea
      );

      .cloth-layer-calendar {
        justify-self: end;
      }
    }

  }


}