@import "../sizes";
@import "../positionTools";

@mixin memberAbstract() {
  .member-abstract {
    @include mediaMinNormal() {
      display: grid;
      grid-template-columns: auto 1fr LandscapeWidth($widthSmall);
    }
    @include mediaMaxSmall() {
      .member-abstract-description {
        display: grid;
        grid-template-columns: 1fr LandscapeWidth($widthSmall);
        margin-bottom: $gapNormal;
      }
      .member-abstract-pictures {
        display: grid;
        grid-template-columns: 1fr $widthSmall;
      }
    }
    @include GridGap($gapNormal);

    .member-mosaic {
      display: grid;
      grid-template-columns: repeat(auto-fill, $widthTiny);
      grid-auto-rows: PortraitHeight($widthTiny);
      max-height: PortraitHeight($widthSmall);
      justify-content: start;
      overflow-y: auto;
      @include GridGap($gapMini);
    }
  }
}