@import "../sizes";
@import "../positionTools";

@mixin memberPresentationGrid() {
  display: grid;
  grid-template-rows: 1fr 1fr;

  > *:first-child {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
  }

  > *:nth-child(2) {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    overflow-y: auto;
  }

  > *:nth-child(3) {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    overflow-y: auto;
  }
}

@mixin memberPage() {
  .member-layer-presentation {
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .member-layer-all-pictures {
    position: absolute;
    overflow-y: auto;
    display: grid;
    grid-auto-rows: max-content;
    @include mediaMinNormal() {
      justify-content: end;
    }
  }

  @include mediaMiniScreen() {
    .member-layer-presentation {
      left: $gapTiny;
      top: $gapTiny;
      right: $gapTiny;
      height: PortraitHeight($widthTiny);
      @include GridGap($gapTiny);
      grid-template-columns: $widthTiny 1fr;
      @include memberPresentationGrid();
    }
    .member-layer-all-pictures {
      left: $gapTiny;
      right: $gapTiny;
      top: $gapTiny + PortraitHeight($widthTiny) + $gapTiny;
      bottom: $gapTiny;
      grid-template-columns: repeat(auto-fill, $widthMini);
      grid-auto-rows: PortraitHeight($widthMini);
      @include GridGap($gapTiny);
    }
  }

  @include mediaTinyScreen() {
    .member-layer-presentation {
      left: $gapSmall;
      top: $gapSmall;
      right: $gapSmall;
      height: PortraitHeight($widthSmall);
      @include GridGap($gapSmall);
      grid-template-columns: $widthSmall 1fr;
      @include memberPresentationGrid();
    }
    .member-layer-all-pictures {
      left: $gapSmall;
      right: $gapSmall;
      top: $gapSmall + PortraitHeight($widthSmall) + $gapSmall;
      bottom: $gapSmall;
      grid-template-columns: repeat(auto-fill, $widthTiny);
      grid-auto-rows: PortraitHeight($widthTiny);
      @include GridGap($gapTiny);
    }
  }

  @include mediaSmallScreen() {
    .member-layer-presentation {
      left: $gapSmall;
      top: $gapSmall;
      bottom: $gapSmall;
      width: $widthSmall;
    }
    .member-layer-all-pictures {
      left: $gapSmall + $widthSmall + $gapSmall;
      right: $gapSmall;
      top: $gapSmall;
      bottom: $gapSmall;
      grid-template-columns: repeat(auto-fill, $widthTiny);
      @include GridGap($gapSmall);
    }
  }

  @include mediaNormalScreen() {
    .member-layer-presentation {
      left: $gapNormal;
      top: $gapNormal;
      bottom: $gapNormal;
      width: $widthNormal;
    }
    .member-layer-all-pictures {
      left: $gapNormal + $widthNormal + $gapNormal;
      right: $gapNormal;
      top: $gapNormal;
      bottom: $gapNormal;
      grid-template-columns: repeat(auto-fill, $widthSmall);
      @include GridGap($gapNormal);
    }
  }
  @include mediaLargeScreen() {
    .member-layer-presentation {
      left: $gapPlus;
      top: $gapPlus;
      bottom: $gapPlus;
      width: $widthPlus;
    }
    .member-layer-all-pictures {
      left: $gapPlus + $widthPlus + $gapPlus;
      right: $gapPlus;
      top: $gapPlus;
      bottom: $gapPlus;
      grid-template-columns: repeat(auto-fill, $widthSmall);
      @include GridGap($gapPlus);
    }
  }
  @include mediaHugeScreen() {
    .member-layer-presentation {
      left: $gapPlus * 5;
      top: $gapPlus;
      bottom: $gapPlus;
      width: $widthLarge;
    }
    .member-layer-all-pictures {
      left: $gapPlus * 5 + $widthLarge + $gapPlus;
      right: $gapPlus * 5;
      top: $gapPlus;
      bottom: $gapPlus;
      grid-template-columns: repeat(auto-fill, $widthNormal);
      @include GridGap($gapPlus);
    }
  }
}