@import "./sizes";
@import "./positionTools";
@import "../Graphics/fonts";

@mixin listItemPadding() {
  @include PaddingGapHorizontal($gapNormal);
  @include mediaMiniScreen() {
    @include PaddingGapHorizontal($gapTiny);
  }
  @include mediaTinyScreen() {
    @include PaddingGapHorizontal($gapSmall);
  }
  @include mediaSmallScreen() {
    @include PaddingGapHorizontal($gapSmall);
  }
  @include mediaNormalScreen() {
    @include PaddingGapHorizontal($gapNormal);
  }
  @include mediaLargeScreen() {
    @include PaddingGapHorizontal($gapPlus);
  }
  @include mediaLargeScreen() {
    @include PaddingGapHorizontal($gapPlus);
  }
}

@mixin horizontalMenu() {

  ul.nav-bar {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: 100%;
    overflow-y: auto;
    justify-content: stretch;

    li {
      @include listItemPadding();
      display: flex;
      align-items: center;
      overflow: hidden;
      width: auto;
      height: 100%;
      @include lemonada();
      font-size: 12px;
    }
  }

  #header-nav {
    ul.nav-bar {
      @include mediaMaxTiny() {
        justify-content: space-evenly;
      }

      li {
        @include mediaMaxTiny() {
          flex-direction: column;
          > *:nth-child(2) {
            height: 10px;
            line-height: 7px;
            font-size: 8px;
          }
        }

        .menu-decoration {
          @include mediaMaxTiny() {
            @include center();
            font-size: 18px;
            height: 30px;
          }
          @include mediaMinSmall() {
            display: none;
          }
        }
      }
    }
  }

  #header-nav-2 {
    ul.nav-bar {

      li {
        &:nth-child(n+5) {
          @include mediaMaxTiny() {
            display: none;
          }
        }

        .menu-decoration {
          display: none;
        }

        @include mediaMaxTiny() {
          width: 25%;
          > * {
            font-size: 10px;
          }
        }
      }
    }
  }
}