@mixin center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin centerVertically() {
  display: flex;
  align-items: center;
}

@mixin maximize() {
  width: 100%;
  height: 100%;
}

@mixin overlay() {
  .overlay-container {
    position: relative;

    .overlay-layer {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }
  }
}

@mixin suppressOverflow() {
  .suppress-overflow {
    overflow: hidden;

    * {
      overflow: hidden;
    }
  }
}

@mixin overflow() {
  .overflow, .overflow-y {
    overflow-y: auto;
  }
  .overflow-both {
    overflow: auto;
  }
  .overflow-x {
    overflow-x: auto;
  }
}

@mixin positionTools {
  .center {
    @include center();
  }

  .maximize {
    @include maximize();
  }

  .maximize-cascade {
    * {
      @include maximize();
    }
  }

  @include suppressOverflow();
  @include overflow();

  @include overlay();

}