@import "./sizes";

@mixin siteLayout() {
  //Force the whole site to use full page, neither less nor more
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;

  //Cut the page in 2 vertical areas,
  //   -- PART 1: the header (240px or 120px depending on device height). Fixed at the top of the page
  //   -- PART 2: the rest of the page (content + footer). This is scrollable.
  display: grid;
  grid-template-columns: 100%;
  @media (min-height: $screenHeightLimit) {
    @include mediaMaxTiny() {
      grid-template-rows: 5 * $navHeight auto;
    }
    @include mediaMinSmall() {
      grid-template-rows: 5.5 * $navHeight auto;
    }
  }
  @media (max-height: $screenHeightLimit) {
    @include mediaMaxTiny() {
      grid-template-rows: 2 * $navHeight auto;
    }
    @include mediaMinSmall() {
      grid-template-rows: 2.5 * $navHeight auto;
    }
  }

  // -- PART 1: the header has 2 or 3 parts, depending on device height. 2 navigation menus, and between them (if possible) the brand of the site
  > header#site-header {
    display: flex;
    flex-direction: column;

    #header-nav {
      @include mediaMaxTiny() {
        height: $navHeight;
      }
      @include mediaMinSmall() {
        height: 1.5 * $navHeight;
      }
    }

    #header-nav-2 {
      width: 100%;
      height: $navHeight;
    }

    #header-brand {
      width: 100%;
      min-height: 3 * $navHeight;
      flex-grow: 2;
    }
  }

  //   -- PART 2: the rest of the page (content + footer). This is scrollable.
  > #site-content {

    // The rest of the page must be scrollable and take all available space. I realize this thanks to absolute positioning
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    // For the top absolute positioning, I must take into account the header size, that depend on device height.
    @media (min-height: $screenHeightLimit) {
      @include mediaMaxTiny() {
        top: 5 * $navHeight;
      }
      @include mediaMinSmall() {
        top: 5.5 * $navHeight;
      }
    }
    @media (max-height: $screenHeightLimit) {
      @include mediaMaxTiny() {
        top: 2 * $navHeight;
      }
      @include mediaMinSmall() {
        top: 2.5 * $navHeight;
      }
    }

    // Now I divide this in 2 parts vertically.
    //   -- PART 2.1 : the site content must take as much space as possible (big flex-grow + limit the footer size with max-height)
    //   -- PART 2.2 : the footer content must at the real bottom of  the page (justify-content: stretch allow this)
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    #site-main {
      flex-grow: 2;
      overflow-y: auto;
      min-height: 70%; //I force the height so that containers placed into calculate their height in function of site-main height
      position: relative; //With this I do that children that are absolute positioned are placed relatively to this container
    }
  }
  #site-footer {
    min-height: 2 * $navHeight;
    height: 2 * $navHeight;
  }

  .section-container {
    padding: $gapNormal;
    @include mediaMiniScreen() {
      padding: $gapTiny;
    }
    @include mediaTinyScreen() {
      padding: $gapSmall;
    }
    @include mediaSmallScreen() {
      padding: $gapSmall;
    }
    @include mediaNormalScreen() {
      padding: $gapNormal;
    }
    @include mediaLargeScreen() {
      padding: $gapPlus;
    }
    @include mediaHugeScreen() {
      padding: $gapPlus $gapPlus * 5;
    }
  }

  .article-container {
    padding: $gapNormal;
    @include mediaMiniScreen() {
      padding: $gapTiny;
    }
    @include mediaTinyScreen() {
      padding: $gapTiny;
    }
    @include mediaSmallScreen() {
      padding: $gapSmall;
    }
    @include mediaNormalScreen() {
      padding: $gapSmall;
    }
    @include mediaLargeScreen() {
      padding: $gapNormal;
    }
    @include mediaHugeScreen() {
      padding: $gapNormal;
    }
  }

  .little-container {

    @include mediaMaxSmall() {
      padding: $gapTiny;
    }
    @include mediaMinNormal() {
      padding: $gapSmall;
    }

    overflow: hidden;

    > * {
      overflow: hidden;
      max-height: 100%;
      max-width: 100%;
    }
  }
}
