$screenHeightLimit: 960px;

$screenWidthLimit0: 400px;
$screenWidthLimit: 600px;
$screenWidthLimit2: 900px;
$screenWidthLimit3: 1200px;
$screenWidthLimit4: 1800px;

@mixin mediaHighScreen {
  @media (min-height: 960px) {
    @content;
  }
}

@mixin mediaMiniScreen {
  @media (max-width: 400px) {
    @content;
  }
}

@mixin mediaTinyScreen {
  @media (min-width: 400px) and (max-width: 600px) {
    @content;
  }
}

@mixin mediaMaxTiny() {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin mediaMaxSmall() {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin mediaMinSmall() {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin mediaMinNormal() {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin mediaSmallScreen {
  @media (min-width: 600px) and (max-width: 900px) {
    @content;
  }
}

@mixin mediaNormalScreen {
  @media (min-width: 900px) and (max-width: 1200px) {
    @content;
  }
}

@mixin mediaLargeScreen {
  @media (min-width: 1200px) and (max-width: 1800px) {
    @content;
  }
}

@mixin mediaHugeScreen {
  @media (min-width: 1800px) {
    @content;
  }
}

/* Empty example
@include mediaMiniScreen() {
}
@include mediaTinyScreen() {
}
@include mediaSmallScreen() {
}
@include mediaNormalScreen() {
}
@include mediaLargeScreen() {
}
@include mediaHugeScreen() {
}
*/

$listItemWidth: 150px;
$navHeight: 40px;

$gapMini: 3px;
$gapTiny: 6px;
$gapSmall: 9px;
$gapNormal: 12px;
$gapPlus: 18px;
$gapLarge: 24px;
$gapHuge: 30px;

$widthMini: 37.5px;
$widthTiny: 75px;
$widthSmall: 150px;
$widthNormal: 225px;
$widthPlus: 300px;
$widthLarge: 600px;
$widthHuge: 1200px;

@mixin Square($w) {
  width: $w;
  height: $w;
}

@mixin Portrait($w) {
  width: $w;
  height: (4 * $w / 3);
}

@function PortraitHeight($w) {
  @return (4 * $w / 3);
}

@function LandscapeWidth($w) {
  @return (4 * (4 * $w / 3)) / 3
}

@mixin Landscape($w) {
  width: $w;
  height: (3 * $w / 4);
}

@mixin Band($w) {
  width: $w;
  height: ($w / 6);
}

@mixin ThinBand($w) {
  width: $w;
  height: ($w / 3);
}


@mixin GridGap($w) {
  grid-gap: (4 * $w / 3) $w;
  gap: (4 * $w / 3) $w;
}

@mixin PaddingGapHorizontal($w) {
  padding-left: $w;
  padding-right: $w;
}

@mixin PaddingGapVertical($w) {
  padding-top: (4 * $w / 3);
  padding-bottom: (4 * $w / 3);
}

@mixin PaddingGapBottom($w) {
  padding-bottom: (4 * $w / 3);
}

@mixin PaddingGapTop($w) {
  padding-top: (4 * $w / 3);
}

@mixin PaddingGap($w) {
  @include PaddingGapHorizontal($w);
  @include PaddingGapVertical($w);
}