@import "../../../pack/Layouts/sizes";

#site #layout-gaps-page {
  display: flex;
  flex-wrap: wrap;

  .gap-mini {
    @include PaddingGap($gapMini);
    margin: $gapLarge;
  }

  .gap-tiny {
    @include PaddingGap($gapTiny);
    margin: $gapLarge;
  }

  .gap-small {
    @include PaddingGap($gapSmall);
    margin: $gapLarge;
  }

  .gap-normal {
    @include PaddingGap($gapNormal);
    margin: $gapLarge;
  }

  .gap-plus {
    @include PaddingGap($gapPlus);
    margin: $gapLarge;
  }

  .gap-large {
    @include PaddingGap($gapLarge);
    margin: $gapLarge;
  }

  .gap-huge {
    @include PaddingGap($gapHuge);
    margin: $gapLarge;
  }
}