@import '../../pack/Layouts/sizes';
@import '../../pack/Graphics/fonts';
@import '../../pack/Graphics/colors';

#site .md-to-html {
  ul {
    @include PaddingGapTop($gapNormal);
    @include PaddingGapHorizontal($gapNormal);
  }

  li {
    list-style-type: "-> ";
    list-style-position: inside;
    @include PaddingGapBottom($gapNormal);
  }

  em {
    @include courier();
    font-weight: bolder;
    font-style: normal;
  }

  p {
    @include PaddingGapBottom($gapNormal);
  }

  em, code, pre {
    @include color('beta', 'fade', 'light');
    @include PaddingGap($gapMini);
    font-size: 15px;
  }

  a {
    text-decoration: underline;
    @include textColor('beta', 'brighter', 'dusky');

    &:visited {
      @include textColor('beta', 'brighter', 'dark');
    }

    &:hover {
      @include textColor('beta', 'brighter', 'light');
    }
  }
}