/* Empty example
@include mediaMiniScreen() {
}
@include mediaTinyScreen() {
}
@include mediaSmallScreen() {
}
@include mediaNormalScreen() {
}
@include mediaLargeScreen() {
}
@include mediaHugeScreen() {
}
*/
/* Empty example
@include mediaMiniScreen() {
}
@include mediaTinyScreen() {
}
@include mediaSmallScreen() {
}
@include mediaNormalScreen() {
}
@include mediaLargeScreen() {
}
@include mediaHugeScreen() {
}
*/
/* Empty example
@include mediaMiniScreen() {
}
@include mediaTinyScreen() {
}
@include mediaSmallScreen() {
}
@include mediaNormalScreen() {
}
@include mediaLargeScreen() {
}
@include mediaHugeScreen() {
}
*/
/* Empty example
@include mediaMiniScreen() {
}
@include mediaTinyScreen() {
}
@include mediaSmallScreen() {
}
@include mediaNormalScreen() {
}
@include mediaLargeScreen() {
}
@include mediaHugeScreen() {
}
*/
/* Empty example
@include mediaMiniScreen() {
}
@include mediaTinyScreen() {
}
@include mediaSmallScreen() {
}
@include mediaNormalScreen() {
}
@include mediaLargeScreen() {
}
@include mediaHugeScreen() {
}
*/
/* Empty example
@include mediaMiniScreen() {
}
@include mediaTinyScreen() {
}
@include mediaSmallScreen() {
}
@include mediaNormalScreen() {
}
@include mediaLargeScreen() {
}
@include mediaHugeScreen() {
}
*/
/* Empty example
@include mediaMiniScreen() {
}
@include mediaTinyScreen() {
}
@include mediaSmallScreen() {
}
@include mediaNormalScreen() {
}
@include mediaLargeScreen() {
}
@include mediaHugeScreen() {
}
*/
/* Empty example
@include mediaMiniScreen() {
}
@include mediaTinyScreen() {
}
@include mediaSmallScreen() {
}
@include mediaNormalScreen() {
}
@include mediaLargeScreen() {
}
@include mediaHugeScreen() {
}
*/
/* Empty example
@include mediaMiniScreen() {
}
@include mediaTinyScreen() {
}
@include mediaSmallScreen() {
}
@include mediaNormalScreen() {
}
@include mediaLargeScreen() {
}
@include mediaHugeScreen() {
}
*/
/* Empty example
@include mediaMiniScreen() {
}
@include mediaTinyScreen() {
}
@include mediaSmallScreen() {
}
@include mediaNormalScreen() {
}
@include mediaLargeScreen() {
}
@include mediaHugeScreen() {
}
*/
/* Empty example
@include mediaMiniScreen() {
}
@include mediaTinyScreen() {
}
@include mediaSmallScreen() {
}
@include mediaNormalScreen() {
}
@include mediaLargeScreen() {
}
@include mediaHugeScreen() {
}
*/
/*
@TODO : trier

@import "Layouts/flexGrids";
@import "Layouts/containers";
@import "Layouts/gaps";
@import "Layouts/picturesSizes";
@import "Layouts/controls";
@import "Layouts/formsMain";
@import "Layouts/positioning";

@import "components-layouts";
@import "pages-layouts";*/
#site { font-family: "Lato", sans-serif; font-weight: normal; position: absolute; right: 0; top: 0; left: 0; bottom: 0; min-width: 100%; max-width: 100%; min-height: 100%; display: grid; grid-template-columns: 100%; /* @TODO : trier @include containers(); @include gaps(); @include gridsLayouts(); @include pictures(); @include controls(); @include formsMain(); @include positioning(); @include components(); @include pages();*/ }

#site * { box-sizing: border-box; }

#site h1, #site h2, #site h3, #site h4, #site h5, #site h6, #site hr, #site a, #site p, #site div, #site nav, #site section, #site article, #site ul, #site li, #site button, #site input, #site select, #site pre { margin: 0; padding: 0; font-weight: normal; }

#site li { list-style-type: none; }

#site h1 { font-size: 1.5em; }

@media (max-width: 900px) { #site h2 { font-size: 1.2em; } }

@media (min-width: 900px) { #site h2 { font-size: 1.4em; } }

@media (max-width: 900px) { #site h3 { font-size: 1.1em; } }

@media (min-width: 900px) { #site h3 { font-size: 1.3em; } }

@media (max-width: 900px) { #site h4 { font-size: 1.1em; } }

@media (min-width: 900px) { #site h4 { font-size: 1.2em; } }

#site h5 { font-size: 1.1em; }

#site h6 { font-size: 1em; }

#site button, #site input, #site select, #site option { border: none; box-shadow: none; background: none; color: inherit; font-size: 0.9em; }

#site a { text-decoration: none; color: inherit; }

#site input, #site select, #site option { font-family: "Lato", sans-serif; font-weight: normal; }

#site pre { font-family: "Courier Prime", "Andale Mono", monospace; font-weight: normal; }

#site a { text-decoration: none; }

#site h1, #site h2, #site h3, #site h4, #site h5, #site h6, #site header, #site footer, #site button { font-family: "Lemonada", "Comic Sans", sans-serif; font-weight: normal; }

#site button { font-size: 12px; }

#site li { list-style-type: none; }

#site button, #site input, #site select, #site option, #site nav ul li, #site a { cursor: pointer; }

#site .color-alpha-fader-darker { color: #F2F1E6; background-color: #262625; stroke: #F2F1E6; fill: #262625; }

#site .color-alpha-fader-dark { color: #F2F1E6; background-color: #333231; stroke: #F2F1E6; fill: #333231; }

#site .color-alpha-fader-dusky { color: #F2F1E6; background-color: #4C4C4A; stroke: #F2F1E6; fill: #4C4C4A; }

#site .color-alpha-fader-light { color: #191916; background-color: #FFFEF9; stroke: #191916; fill: #FFFEF9; }

#site .color-alpha-fade-darker { color: #F2F1E6; background-color: #262522; stroke: #F2F1E6; fill: #262522; }

#site .color-alpha-fade-dark { color: #F2F1E6; background-color: #33322D; stroke: #F2F1E6; fill: #33322D; }

#site .color-alpha-fade-dusky { color: #F2F1E6; background-color: #4C4B44; stroke: #F2F1E6; fill: #4C4B44; }

#site .color-alpha-fade-light { color: #191916; background-color: #FFFCE5; stroke: #191916; fill: #FFFCE5; }

#site .color-alpha-pastel-darker { color: #F2F1E6; background-color: #26251E; stroke: #F2F1E6; fill: #26251E; }

#site .color-alpha-pastel-dark { color: #F2F1E6; background-color: #333228; stroke: #F2F1E6; fill: #333228; }

#site .color-alpha-pastel-dusky { color: #F2F1E6; background-color: #4C4B3D; stroke: #F2F1E6; fill: #4C4B3D; }

#site .color-alpha-pastel-light { color: #191916; background-color: #FFFACC; stroke: #191916; fill: #FFFACC; }

#site .color-alpha-bright-darker { color: #F2F1E6; background-color: #26240F; stroke: #F2F1E6; fill: #26240F; }

#site .color-alpha-bright-dark { color: #F2F1E6; background-color: #333014; stroke: #F2F1E6; fill: #333014; }

#site .color-alpha-bright-dusky { color: #F2F1E6; background-color: #4C481E; stroke: #F2F1E6; fill: #4C481E; }

#site .color-alpha-bright-light { color: #191916; background-color: #FFF266; stroke: #191916; fill: #FFF266; }

#site .color-alpha-brighter-darker { color: #F2F1E6; background-color: #262307; stroke: #F2F1E6; fill: #262307; }

#site .color-alpha-brighter-dark { color: #F2F1E6; background-color: #332F0A; stroke: #F2F1E6; fill: #332F0A; }

#site .color-alpha-brighter-dusky { color: #F2F1E6; background-color: #4C470F; stroke: #F2F1E6; fill: #4C470F; }

#site .color-alpha-brighter-light { color: #191916; background-color: #FFEE32; stroke: #191916; fill: #FFEE32; }

#site .color-beta-fader-darker { color: #E6F2E6; background-color: #252625; stroke: #E6F2E6; fill: #252625; }

#site .color-beta-fader-dark { color: #E6F2E6; background-color: #313331; stroke: #E6F2E6; fill: #313331; }

#site .color-beta-fader-dusky { color: #E6F2E6; background-color: #4A4C4A; stroke: #E6F2E6; fill: #4A4C4A; }

#site .color-beta-fader-light { color: #161916; background-color: #F9FFF9; stroke: #161916; fill: #F9FFF9; }

#site .color-beta-fade-darker { color: #E6F2E6; background-color: #222622; stroke: #E6F2E6; fill: #222622; }

#site .color-beta-fade-dark { color: #E6F2E6; background-color: #2D332D; stroke: #E6F2E6; fill: #2D332D; }

#site .color-beta-fade-dusky { color: #E6F2E6; background-color: #444C44; stroke: #E6F2E6; fill: #444C44; }

#site .color-beta-fade-light { color: #161916; background-color: #E5FFE5; stroke: #161916; fill: #E5FFE5; }

#site .color-beta-pastel-darker { color: #E6F2E6; background-color: #1E261E; stroke: #E6F2E6; fill: #1E261E; }

#site .color-beta-pastel-dark { color: #E6F2E6; background-color: #283328; stroke: #E6F2E6; fill: #283328; }

#site .color-beta-pastel-dusky { color: #E6F2E6; background-color: #3D4C3D; stroke: #E6F2E6; fill: #3D4C3D; }

#site .color-beta-pastel-light { color: #161916; background-color: #CCFFCC; stroke: #161916; fill: #CCFFCC; }

#site .color-beta-bright-darker { color: #E6F2E6; background-color: #0F260F; stroke: #E6F2E6; fill: #0F260F; }

#site .color-beta-bright-dark { color: #E6F2E6; background-color: #143314; stroke: #E6F2E6; fill: #143314; }

#site .color-beta-bright-dusky { color: #E6F2E6; background-color: #1E4C1E; stroke: #E6F2E6; fill: #1E4C1E; }

#site .color-beta-bright-light { color: #161916; background-color: #66FF66; stroke: #161916; fill: #66FF66; }

#site .color-beta-brighter-darker { color: #E6F2E6; background-color: #072607; stroke: #E6F2E6; fill: #072607; }

#site .color-beta-brighter-dark { color: #E6F2E6; background-color: #0A330A; stroke: #E6F2E6; fill: #0A330A; }

#site .color-beta-brighter-dusky { color: #E6F2E6; background-color: #0F4C0F; stroke: #E6F2E6; fill: #0F4C0F; }

#site .color-beta-brighter-light { color: #161916; background-color: #32FF32; stroke: #161916; fill: #32FF32; }

#site .color-gamma-fader-darker { color: #E6F1F2; background-color: #252626; stroke: #E6F1F2; fill: #252626; }

#site .color-gamma-fader-dark { color: #E6F1F2; background-color: #313233; stroke: #E6F1F2; fill: #313233; }

#site .color-gamma-fader-dusky { color: #E6F1F2; background-color: #4A4C4C; stroke: #E6F1F2; fill: #4A4C4C; }

#site .color-gamma-fader-light { color: #161919; background-color: #F9FEFF; stroke: #161919; fill: #F9FEFF; }

#site .color-gamma-fade-darker { color: #E6F1F2; background-color: #222526; stroke: #E6F1F2; fill: #222526; }

#site .color-gamma-fade-dark { color: #E6F1F2; background-color: #2D3233; stroke: #E6F1F2; fill: #2D3233; }

#site .color-gamma-fade-dusky { color: #E6F1F2; background-color: #444B4C; stroke: #E6F1F2; fill: #444B4C; }

#site .color-gamma-fade-light { color: #161919; background-color: #E5FCFF; stroke: #161919; fill: #E5FCFF; }

#site .color-gamma-pastel-darker { color: #E6F1F2; background-color: #1E2526; stroke: #E6F1F2; fill: #1E2526; }

#site .color-gamma-pastel-dark { color: #E6F1F2; background-color: #283233; stroke: #E6F1F2; fill: #283233; }

#site .color-gamma-pastel-dusky { color: #E6F1F2; background-color: #3D4B4C; stroke: #E6F1F2; fill: #3D4B4C; }

#site .color-gamma-pastel-light { color: #161919; background-color: #CCFAFF; stroke: #161919; fill: #CCFAFF; }

#site .color-gamma-bright-darker { color: #E6F1F2; background-color: #0F2426; stroke: #E6F1F2; fill: #0F2426; }

#site .color-gamma-bright-dark { color: #E6F1F2; background-color: #143033; stroke: #E6F1F2; fill: #143033; }

#site .color-gamma-bright-dusky { color: #E6F1F2; background-color: #1E484C; stroke: #E6F1F2; fill: #1E484C; }

#site .color-gamma-bright-light { color: #161919; background-color: #66F2FF; stroke: #161919; fill: #66F2FF; }

#site .color-gamma-brighter-darker { color: #E6F1F2; background-color: #072326; stroke: #E6F1F2; fill: #072326; }

#site .color-gamma-brighter-dark { color: #E6F1F2; background-color: #0A2F33; stroke: #E6F1F2; fill: #0A2F33; }

#site .color-gamma-brighter-dusky { color: #E6F1F2; background-color: #0F474C; stroke: #E6F1F2; fill: #0F474C; }

#site .color-gamma-brighter-light { color: #161919; background-color: #32EDFF; stroke: #161919; fill: #32EDFF; }

#site .color-delta-fader-darker { color: #E8E6F2; background-color: #252526; stroke: #E8E6F2; fill: #252526; }

#site .color-delta-fader-dark { color: #E8E6F2; background-color: #323133; stroke: #E8E6F2; fill: #323133; }

#site .color-delta-fader-dusky { color: #E8E6F2; background-color: #4B4A4C; stroke: #E8E6F2; fill: #4B4A4C; }

#site .color-delta-fader-light { color: #171619; background-color: #FAF9FF; stroke: #171619; fill: #FAF9FF; }

#site .color-delta-fade-darker { color: #E8E6F2; background-color: #232226; stroke: #E8E6F2; fill: #232226; }

#site .color-delta-fade-dark { color: #E8E6F2; background-color: #2E2D33; stroke: #E8E6F2; fill: #2E2D33; }

#site .color-delta-fade-dusky { color: #E8E6F2; background-color: #46444C; stroke: #E8E6F2; fill: #46444C; }

#site .color-delta-fade-light { color: #171619; background-color: #E9E5FF; stroke: #171619; fill: #E9E5FF; }

#site .color-delta-pastel-darker { color: #E8E6F2; background-color: #1F1E26; stroke: #E8E6F2; fill: #1F1E26; }

#site .color-delta-pastel-dark { color: #E8E6F2; background-color: #2A2833; stroke: #E8E6F2; fill: #2A2833; }

#site .color-delta-pastel-dusky { color: #E8E6F2; background-color: #3F3D4C; stroke: #E8E6F2; fill: #3F3D4C; }

#site .color-delta-pastel-light { color: #171619; background-color: #D4CCFF; stroke: #171619; fill: #D4CCFF; }

#site .color-delta-bright-darker { color: #E8E6F2; background-color: #130F26; stroke: #E8E6F2; fill: #130F26; }

#site .color-delta-bright-dark { color: #E8E6F2; background-color: #191433; stroke: #E8E6F2; fill: #191433; }

#site .color-delta-bright-dusky { color: #E8E6F2; background-color: #261E4C; stroke: #E8E6F2; fill: #261E4C; }

#site .color-delta-bright-light { color: #171619; background-color: #7F66FF; stroke: #171619; fill: #7F66FF; }

#site .color-delta-brighter-darker { color: #E8E6F2; background-color: #0C0726; stroke: #E8E6F2; fill: #0C0726; }

#site .color-delta-brighter-dark { color: #E8E6F2; background-color: #110A33; stroke: #E8E6F2; fill: #110A33; }

#site .color-delta-brighter-dusky { color: #E8E6F2; background-color: #190F4C; stroke: #E8E6F2; fill: #190F4C; }

#site .color-delta-brighter-light { color: #E8E6F2; background-color: #5532FF; stroke: #E8E6F2; fill: #5532FF; }

#site .color-omega-fader-darker { color: #F2E6EF; background-color: #262526; stroke: #F2E6EF; fill: #262526; }

#site .color-omega-fader-dark { color: #F2E6EF; background-color: #333132; stroke: #F2E6EF; fill: #333132; }

#site .color-omega-fader-dusky { color: #F2E6EF; background-color: #4C4A4C; stroke: #F2E6EF; fill: #4C4A4C; }

#site .color-omega-fader-light { color: #191618; background-color: #FFF9FD; stroke: #191618; fill: #FFF9FD; }

#site .color-omega-fade-darker { color: #F2E6EF; background-color: #262225; stroke: #F2E6EF; fill: #262225; }

#site .color-omega-fade-dark { color: #F2E6EF; background-color: #332D31; stroke: #F2E6EF; fill: #332D31; }

#site .color-omega-fade-dusky { color: #F2E6EF; background-color: #4C444A; stroke: #F2E6EF; fill: #4C444A; }

#site .color-omega-fade-light { color: #191618; background-color: #FFE5F8; stroke: #191618; fill: #FFE5F8; }

#site .color-omega-pastel-darker { color: #F2E6EF; background-color: #261E24; stroke: #F2E6EF; fill: #261E24; }

#site .color-omega-pastel-dark { color: #F2E6EF; background-color: #332830; stroke: #F2E6EF; fill: #332830; }

#site .color-omega-pastel-dusky { color: #F2E6EF; background-color: #4C3D48; stroke: #F2E6EF; fill: #4C3D48; }

#site .color-omega-pastel-light { color: #191618; background-color: #FFCCF2; stroke: #191618; fill: #FFCCF2; }

#site .color-omega-bright-darker { color: #F2E6EF; background-color: #260F20; stroke: #F2E6EF; fill: #260F20; }

#site .color-omega-bright-dark { color: #F2E6EF; background-color: #33142B; stroke: #F2E6EF; fill: #33142B; }

#site .color-omega-bright-dusky { color: #F2E6EF; background-color: #4C1E41; stroke: #F2E6EF; fill: #4C1E41; }

#site .color-omega-bright-light { color: #191618; background-color: #FF66D8; stroke: #191618; fill: #FF66D8; }

#site .color-omega-brighter-darker { color: #F2E6EF; background-color: #26071E; stroke: #F2E6EF; fill: #26071E; }

#site .color-omega-brighter-dark { color: #F2E6EF; background-color: #330A28; stroke: #F2E6EF; fill: #330A28; }

#site .color-omega-brighter-dusky { color: #F2E6EF; background-color: #4C0F3D; stroke: #F2E6EF; fill: #4C0F3D; }

#site .color-omega-brighter-light { color: #191618; background-color: #FF32CC; stroke: #191618; fill: #FF32CC; }

#site .hover-color-alpha-fader-darker:hover { color: #F2F1E6; background-color: #262625; }

#site .hover-color-alpha-fader-dark:hover { color: #F2F1E6; background-color: #333231; }

#site .hover-color-alpha-fader-dusky:hover { color: #F2F1E6; background-color: #4C4C4A; }

#site .hover-color-alpha-fader-light:hover { color: #191916; background-color: #FFFEF9; }

#site .hover-color-alpha-fade-darker:hover { color: #F2F1E6; background-color: #262522; }

#site .hover-color-alpha-fade-dark:hover { color: #F2F1E6; background-color: #33322D; }

#site .hover-color-alpha-fade-dusky:hover { color: #F2F1E6; background-color: #4C4B44; }

#site .hover-color-alpha-fade-light:hover { color: #191916; background-color: #FFFCE5; }

#site .hover-color-alpha-pastel-darker:hover { color: #F2F1E6; background-color: #26251E; }

#site .hover-color-alpha-pastel-dark:hover { color: #F2F1E6; background-color: #333228; }

#site .hover-color-alpha-pastel-dusky:hover { color: #F2F1E6; background-color: #4C4B3D; }

#site .hover-color-alpha-pastel-light:hover { color: #191916; background-color: #FFFACC; }

#site .hover-color-alpha-bright-darker:hover { color: #F2F1E6; background-color: #26240F; }

#site .hover-color-alpha-bright-dark:hover { color: #F2F1E6; background-color: #333014; }

#site .hover-color-alpha-bright-dusky:hover { color: #F2F1E6; background-color: #4C481E; }

#site .hover-color-alpha-bright-light:hover { color: #191916; background-color: #FFF266; }

#site .hover-color-alpha-brighter-darker:hover { color: #F2F1E6; background-color: #262307; }

#site .hover-color-alpha-brighter-dark:hover { color: #F2F1E6; background-color: #332F0A; }

#site .hover-color-alpha-brighter-dusky:hover { color: #F2F1E6; background-color: #4C470F; }

#site .hover-color-alpha-brighter-light:hover { color: #191916; background-color: #FFEE32; }

#site .hover-color-beta-fader-darker:hover { color: #E6F2E6; background-color: #252625; }

#site .hover-color-beta-fader-dark:hover { color: #E6F2E6; background-color: #313331; }

#site .hover-color-beta-fader-dusky:hover { color: #E6F2E6; background-color: #4A4C4A; }

#site .hover-color-beta-fader-light:hover { color: #161916; background-color: #F9FFF9; }

#site .hover-color-beta-fade-darker:hover { color: #E6F2E6; background-color: #222622; }

#site .hover-color-beta-fade-dark:hover { color: #E6F2E6; background-color: #2D332D; }

#site .hover-color-beta-fade-dusky:hover { color: #E6F2E6; background-color: #444C44; }

#site .hover-color-beta-fade-light:hover { color: #161916; background-color: #E5FFE5; }

#site .hover-color-beta-pastel-darker:hover { color: #E6F2E6; background-color: #1E261E; }

#site .hover-color-beta-pastel-dark:hover { color: #E6F2E6; background-color: #283328; }

#site .hover-color-beta-pastel-dusky:hover { color: #E6F2E6; background-color: #3D4C3D; }

#site .hover-color-beta-pastel-light:hover { color: #161916; background-color: #CCFFCC; }

#site .hover-color-beta-bright-darker:hover { color: #E6F2E6; background-color: #0F260F; }

#site .hover-color-beta-bright-dark:hover { color: #E6F2E6; background-color: #143314; }

#site .hover-color-beta-bright-dusky:hover { color: #E6F2E6; background-color: #1E4C1E; }

#site .hover-color-beta-bright-light:hover { color: #161916; background-color: #66FF66; }

#site .hover-color-beta-brighter-darker:hover { color: #E6F2E6; background-color: #072607; }

#site .hover-color-beta-brighter-dark:hover { color: #E6F2E6; background-color: #0A330A; }

#site .hover-color-beta-brighter-dusky:hover { color: #E6F2E6; background-color: #0F4C0F; }

#site .hover-color-beta-brighter-light:hover { color: #161916; background-color: #32FF32; }

#site .hover-color-gamma-fader-darker:hover { color: #E6F1F2; background-color: #252626; }

#site .hover-color-gamma-fader-dark:hover { color: #E6F1F2; background-color: #313233; }

#site .hover-color-gamma-fader-dusky:hover { color: #E6F1F2; background-color: #4A4C4C; }

#site .hover-color-gamma-fader-light:hover { color: #161919; background-color: #F9FEFF; }

#site .hover-color-gamma-fade-darker:hover { color: #E6F1F2; background-color: #222526; }

#site .hover-color-gamma-fade-dark:hover { color: #E6F1F2; background-color: #2D3233; }

#site .hover-color-gamma-fade-dusky:hover { color: #E6F1F2; background-color: #444B4C; }

#site .hover-color-gamma-fade-light:hover { color: #161919; background-color: #E5FCFF; }

#site .hover-color-gamma-pastel-darker:hover { color: #E6F1F2; background-color: #1E2526; }

#site .hover-color-gamma-pastel-dark:hover { color: #E6F1F2; background-color: #283233; }

#site .hover-color-gamma-pastel-dusky:hover { color: #E6F1F2; background-color: #3D4B4C; }

#site .hover-color-gamma-pastel-light:hover { color: #161919; background-color: #CCFAFF; }

#site .hover-color-gamma-bright-darker:hover { color: #E6F1F2; background-color: #0F2426; }

#site .hover-color-gamma-bright-dark:hover { color: #E6F1F2; background-color: #143033; }

#site .hover-color-gamma-bright-dusky:hover { color: #E6F1F2; background-color: #1E484C; }

#site .hover-color-gamma-bright-light:hover { color: #161919; background-color: #66F2FF; }

#site .hover-color-gamma-brighter-darker:hover { color: #E6F1F2; background-color: #072326; }

#site .hover-color-gamma-brighter-dark:hover { color: #E6F1F2; background-color: #0A2F33; }

#site .hover-color-gamma-brighter-dusky:hover { color: #E6F1F2; background-color: #0F474C; }

#site .hover-color-gamma-brighter-light:hover { color: #161919; background-color: #32EDFF; }

#site .hover-color-delta-fader-darker:hover { color: #E8E6F2; background-color: #252526; }

#site .hover-color-delta-fader-dark:hover { color: #E8E6F2; background-color: #323133; }

#site .hover-color-delta-fader-dusky:hover { color: #E8E6F2; background-color: #4B4A4C; }

#site .hover-color-delta-fader-light:hover { color: #171619; background-color: #FAF9FF; }

#site .hover-color-delta-fade-darker:hover { color: #E8E6F2; background-color: #232226; }

#site .hover-color-delta-fade-dark:hover { color: #E8E6F2; background-color: #2E2D33; }

#site .hover-color-delta-fade-dusky:hover { color: #E8E6F2; background-color: #46444C; }

#site .hover-color-delta-fade-light:hover { color: #171619; background-color: #E9E5FF; }

#site .hover-color-delta-pastel-darker:hover { color: #E8E6F2; background-color: #1F1E26; }

#site .hover-color-delta-pastel-dark:hover { color: #E8E6F2; background-color: #2A2833; }

#site .hover-color-delta-pastel-dusky:hover { color: #E8E6F2; background-color: #3F3D4C; }

#site .hover-color-delta-pastel-light:hover { color: #171619; background-color: #D4CCFF; }

#site .hover-color-delta-bright-darker:hover { color: #E8E6F2; background-color: #130F26; }

#site .hover-color-delta-bright-dark:hover { color: #E8E6F2; background-color: #191433; }

#site .hover-color-delta-bright-dusky:hover { color: #E8E6F2; background-color: #261E4C; }

#site .hover-color-delta-bright-light:hover { color: #171619; background-color: #7F66FF; }

#site .hover-color-delta-brighter-darker:hover { color: #E8E6F2; background-color: #0C0726; }

#site .hover-color-delta-brighter-dark:hover { color: #E8E6F2; background-color: #110A33; }

#site .hover-color-delta-brighter-dusky:hover { color: #E8E6F2; background-color: #190F4C; }

#site .hover-color-delta-brighter-light:hover { color: #E8E6F2; background-color: #5532FF; }

#site .hover-color-omega-fader-darker:hover { color: #F2E6EF; background-color: #262526; }

#site .hover-color-omega-fader-dark:hover { color: #F2E6EF; background-color: #333132; }

#site .hover-color-omega-fader-dusky:hover { color: #F2E6EF; background-color: #4C4A4C; }

#site .hover-color-omega-fader-light:hover { color: #191618; background-color: #FFF9FD; }

#site .hover-color-omega-fade-darker:hover { color: #F2E6EF; background-color: #262225; }

#site .hover-color-omega-fade-dark:hover { color: #F2E6EF; background-color: #332D31; }

#site .hover-color-omega-fade-dusky:hover { color: #F2E6EF; background-color: #4C444A; }

#site .hover-color-omega-fade-light:hover { color: #191618; background-color: #FFE5F8; }

#site .hover-color-omega-pastel-darker:hover { color: #F2E6EF; background-color: #261E24; }

#site .hover-color-omega-pastel-dark:hover { color: #F2E6EF; background-color: #332830; }

#site .hover-color-omega-pastel-dusky:hover { color: #F2E6EF; background-color: #4C3D48; }

#site .hover-color-omega-pastel-light:hover { color: #191618; background-color: #FFCCF2; }

#site .hover-color-omega-bright-darker:hover { color: #F2E6EF; background-color: #260F20; }

#site .hover-color-omega-bright-dark:hover { color: #F2E6EF; background-color: #33142B; }

#site .hover-color-omega-bright-dusky:hover { color: #F2E6EF; background-color: #4C1E41; }

#site .hover-color-omega-bright-light:hover { color: #191618; background-color: #FF66D8; }

#site .hover-color-omega-brighter-darker:hover { color: #F2E6EF; background-color: #26071E; }

#site .hover-color-omega-brighter-dark:hover { color: #F2E6EF; background-color: #330A28; }

#site .hover-color-omega-brighter-dusky:hover { color: #F2E6EF; background-color: #4C0F3D; }

#site .hover-color-omega-brighter-light:hover { color: #191618; background-color: #FF32CC; }

#site .center { display: flex; align-items: center; justify-content: center; }

#site .maximize { width: 100%; height: 100%; }

#site .maximize-cascade * { width: 100%; height: 100%; }

#site .suppress-overflow { overflow: hidden; }

#site .suppress-overflow * { overflow: hidden; }

#site .overflow, #site .overflow-y { overflow-y: auto; }

#site .overflow-both { overflow: auto; }

#site .overflow-x { overflow-x: auto; }

#site .overlay-container { position: relative; }

#site .overlay-container .overlay-layer { position: absolute; left: 0; right: 0; bottom: 0; top: 0; }

@media (min-height: 960px) and (max-width: 600px) { #site { grid-template-rows: 200px auto; } }

@media (min-height: 960px) and (min-width: 600px) { #site { grid-template-rows: 220px auto; } }

@media (max-height: 960px) and (max-width: 600px) { #site { grid-template-rows: 80px auto; } }

@media (max-height: 960px) and (min-width: 600px) { #site { grid-template-rows: 100px auto; } }

#site > header#site-header { display: flex; flex-direction: column; }

@media (max-width: 600px) { #site > header#site-header #header-nav { height: 40px; } }

@media (min-width: 600px) { #site > header#site-header #header-nav { height: 60px; } }

#site > header#site-header #header-nav-2 { width: 100%; height: 40px; }

#site > header#site-header #header-brand { width: 100%; min-height: 120px; flex-grow: 2; }

#site > #site-content { position: absolute; bottom: 0; left: 0; right: 0; display: flex; flex-direction: column; justify-content: stretch; }

@media (min-height: 960px) and (max-width: 600px) { #site > #site-content { top: 200px; } }

@media (min-height: 960px) and (min-width: 600px) { #site > #site-content { top: 220px; } }

@media (max-height: 960px) and (max-width: 600px) { #site > #site-content { top: 80px; } }

@media (max-height: 960px) and (min-width: 600px) { #site > #site-content { top: 100px; } }

#site > #site-content #site-main { flex-grow: 2; overflow-y: auto; min-height: 70%; position: relative; }

#site #site-footer { min-height: 80px; height: 80px; }

#site .section-container { padding: 12px; }

@media (max-width: 400px) { #site .section-container { padding: 6px; } }

@media (min-width: 400px) and (max-width: 600px) { #site .section-container { padding: 9px; } }

@media (min-width: 600px) and (max-width: 900px) { #site .section-container { padding: 9px; } }

@media (min-width: 900px) and (max-width: 1200px) { #site .section-container { padding: 12px; } }

@media (min-width: 1200px) and (max-width: 1800px) { #site .section-container { padding: 18px; } }

@media (min-width: 1800px) { #site .section-container { padding: 18px 90px; } }

#site .article-container { padding: 12px; }

@media (max-width: 400px) { #site .article-container { padding: 6px; } }

@media (min-width: 400px) and (max-width: 600px) { #site .article-container { padding: 6px; } }

@media (min-width: 600px) and (max-width: 900px) { #site .article-container { padding: 9px; } }

@media (min-width: 900px) and (max-width: 1200px) { #site .article-container { padding: 9px; } }

@media (min-width: 1200px) and (max-width: 1800px) { #site .article-container { padding: 12px; } }

@media (min-width: 1800px) { #site .article-container { padding: 12px; } }

#site .little-container { overflow: hidden; }

@media (max-width: 900px) { #site .little-container { padding: 6px; } }

@media (min-width: 900px) { #site .little-container { padding: 9px; } }

#site .little-container > * { overflow: hidden; max-height: 100%; max-width: 100%; }

#site ul.nav-bar { display: flex; flex-direction: row; max-width: 100%; height: 100%; overflow-y: auto; justify-content: stretch; }

#site ul.nav-bar li { padding-left: 12px; padding-right: 12px; display: flex; align-items: center; overflow: hidden; width: auto; height: 100%; font-family: "Lemonada", "Comic Sans", sans-serif; font-weight: normal; font-size: 12px; }

@media (max-width: 400px) { #site ul.nav-bar li { padding-left: 6px; padding-right: 6px; } }

@media (min-width: 400px) and (max-width: 600px) { #site ul.nav-bar li { padding-left: 9px; padding-right: 9px; } }

@media (min-width: 600px) and (max-width: 900px) { #site ul.nav-bar li { padding-left: 9px; padding-right: 9px; } }

@media (min-width: 900px) and (max-width: 1200px) { #site ul.nav-bar li { padding-left: 12px; padding-right: 12px; } }

@media (min-width: 1200px) and (max-width: 1800px) { #site ul.nav-bar li { padding-left: 18px; padding-right: 18px; } }

@media (min-width: 1200px) and (max-width: 1800px) { #site ul.nav-bar li { padding-left: 18px; padding-right: 18px; } }

@media (max-width: 600px) { #site #header-nav ul.nav-bar { justify-content: space-evenly; } }

@media (max-width: 600px) { #site #header-nav ul.nav-bar li { flex-direction: column; }
  #site #header-nav ul.nav-bar li > *:nth-child(2) { height: 10px; line-height: 7px; font-size: 8px; } }

@media (max-width: 600px) { #site #header-nav ul.nav-bar li .menu-decoration { display: flex; align-items: center; justify-content: center; font-size: 18px; height: 30px; } }

@media (min-width: 600px) { #site #header-nav ul.nav-bar li .menu-decoration { display: none; } }

@media (max-width: 600px) { #site #header-nav-2 ul.nav-bar li:nth-child(n+5) { display: none; } }

#site #header-nav-2 ul.nav-bar li .menu-decoration { display: none; }

@media (max-width: 600px) { #site #header-nav-2 ul.nav-bar li { width: 25%; }
  #site #header-nav-2 ul.nav-bar li > * { font-size: 10px; } }

#site .cloth-container { display: grid; }

@media (max-width: 400px) { #site .cloth-container { grid-template-columns: 156px 1fr; grid-template-rows: repeat(4, 100px) auto; grid-gap: 8px 6px; gap: 8px 6px; }
  #site .cloth-container .cloth-layer-main-picture { grid-column: 1 / span 1; grid-row: 1/span 2; }
  #site .cloth-container .cloth-layer-brand { grid-column: 2/span 1; grid-row: 1 / span 1; }
  #site .cloth-container .cloth-layer-description { grid-column: 2 / span 1; grid-row: 2/span 1; }
  #site .cloth-container .cloth-layer-calendar { grid-column: 1/span 1; grid-row: 3/span 2; }
  #site .cloth-container .cloth-layer-pictures { display: grid; grid-gap: 8px 6px; gap: 8px 6px; grid-template-columns: repeat(auto-fill, 75px); justify-content: start; grid-auto-rows: 100px; overflow-y: auto; }
  #site .cloth-container .cloth-layer-recommendations { grid-column: 1/span 2; grid-row: 5/span 1; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; }
  #site .cloth-container .cloth-layer-recommendations > div:nth-child(n + 5) { display: none; }
  #site .cloth-container .cloth-layer-recommendations > div { margin-right: 6px; }
  #site .cloth-container .cloth-layer-pictures, #site .cloth-container .cloth-layer-pictures-empty { height: 208px; grid-column: 2/span 1; grid-row: 3/span 2; } }

@media (min-width: 400px) and (max-width: 600px) { #site .cloth-container { grid-template-columns: 159px 1fr; grid-template-rows: repeat(4, 100px) auto; grid-gap: 12px 9px; gap: 12px 9px; }
  #site .cloth-container .cloth-layer-main-picture { grid-column: 1 / span 1; grid-row: 1/span 2; }
  #site .cloth-container .cloth-layer-brand { grid-column: 2/span 1; grid-row: 1 / span 1; }
  #site .cloth-container .cloth-layer-description { grid-column: 2 / span 1; grid-row: 2/span 1; }
  #site .cloth-container .cloth-layer-calendar { grid-column: 1/span 1; grid-row: 3/span 2; }
  #site .cloth-container .cloth-layer-pictures { display: grid; grid-gap: 12px 9px; gap: 12px 9px; grid-template-columns: repeat(auto-fill, 75px); justify-content: start; grid-auto-rows: 100px; overflow-y: auto; }
  #site .cloth-container .cloth-layer-recommendations { grid-column: 1/span 2; grid-row: 5/span 1; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; }
  #site .cloth-container .cloth-layer-recommendations > div:nth-child(n + 5) { display: none; }
  #site .cloth-container .cloth-layer-recommendations > div { margin-right: 9px; }
  #site .cloth-container .cloth-layer-pictures, #site .cloth-container .cloth-layer-pictures-empty { height: 212px; grid-column: 2/span 1; grid-row: 3/span 2; } }

@media (min-width: 600px) and (max-width: 900px) { #site .cloth-container { grid-template-columns: 234px 1fr; grid-template-rows: repeat(4, 150px) auto; grid-gap: 12px 9px; gap: 12px 9px; }
  #site .cloth-container .cloth-layer-main-picture { grid-column: 1 / span 1; grid-row: 1/span 2; }
  #site .cloth-container .cloth-layer-brand { grid-column: 2/span 1; grid-row: 1 / span 1; }
  #site .cloth-container .cloth-layer-description { grid-column: 2 / span 1; grid-row: 2/span 1; }
  #site .cloth-container .cloth-layer-calendar { grid-column: 1/span 1; grid-row: 3/span 2; }
  #site .cloth-container .cloth-layer-pictures { display: grid; grid-gap: 12px 9px; gap: 12px 9px; grid-template-columns: repeat(auto-fill, 75px); justify-content: start; grid-auto-rows: 100px; overflow-y: auto; }
  #site .cloth-container .cloth-layer-recommendations { grid-column: 1/span 2; grid-row: 5/span 1; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; }
  #site .cloth-container .cloth-layer-recommendations > div:nth-child(n + 5) { display: none; }
  #site .cloth-container .cloth-layer-recommendations > div { margin-right: 9px; }
  #site .cloth-container .cloth-layer-pictures, #site .cloth-container .cloth-layer-pictures-empty { height: 312px; grid-column: 2/span 1; grid-row: 3/span 2; } }

@media (min-width: 900px) and (max-width: 1200px) { #site .cloth-container { grid-template-columns: 237px 1fr 237px; grid-template-rows: repeat(2, 150px) 200px auto; grid-gap: 16px 12px; gap: 16px 12px; }
  #site .cloth-container .cloth-layer-main-picture { grid-column: 1 / span 1; grid-row: 1/span 2; }
  #site .cloth-container .cloth-layer-brand { grid-column: 2/span 1; grid-row: 1 / span 1; }
  #site .cloth-container .cloth-layer-description { grid-column: 2 / span 1; grid-row: 2/span 1; }
  #site .cloth-container .cloth-layer-calendar { grid-column: 3/span 1; grid-row: 1/span 2; }
  #site .cloth-container .cloth-layer-pictures { display: grid; grid-gap: 16px 12px; gap: 16px 12px; grid-template-columns: repeat(auto-fill, 150px); justify-content: start; grid-auto-rows: 200px; overflow-y: auto; }
  #site .cloth-container .cloth-layer-recommendations { grid-column: 1/span 3; grid-row: 4/span 1; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; }
  #site .cloth-container .cloth-layer-recommendations > div:nth-child(n + 5) { display: none; }
  #site .cloth-container .cloth-layer-recommendations > div { margin-right: 12px; }
  #site .cloth-container .cloth-layer-pictures, #site .cloth-container .cloth-layer-pictures-empty { height: 200px; grid-column: 1/span 3; grid-row: 3/span 1; } }

@media (min-width: 1200px) and (max-width: 1800px) { #site .cloth-container { grid-template-columns: 600px 1fr 243px; grid-template-rows: repeat(2, 150px) 452px auto; grid-gap: 24px 18px; gap: 24px 18px; }
  #site .cloth-container .cloth-layer-main-picture { grid-column: 1 / span 1; grid-row: 1/span 2; }
  #site .cloth-container .cloth-layer-brand { grid-column: 2/span 1; grid-row: 1 / span 1; }
  #site .cloth-container .cloth-layer-description { grid-column: 2 / span 1; grid-row: 2/span 1; }
  #site .cloth-container .cloth-layer-calendar { grid-column: 3/span 1; grid-row: 1/span 2; }
  #site .cloth-container .cloth-layer-pictures { display: grid; grid-gap: 24px 18px; gap: 24px 18px; grid-template-columns: repeat(auto-fill, 225px); justify-content: start; grid-auto-rows: 300px; overflow-y: auto; }
  #site .cloth-container .cloth-layer-recommendations { grid-column: 1/span 3; grid-row: 4/span 1; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; }
  #site .cloth-container .cloth-layer-recommendations > div:nth-child(n + 5) { display: none; }
  #site .cloth-container .cloth-layer-recommendations > div { margin-right: 18px; }
  #site .cloth-container .cloth-layer-pictures, #site .cloth-container .cloth-layer-pictures-empty { height: 452px; grid-column: 2/span 2; grid-row: 3/span 1; }
  #site .cloth-container .cloth-layer-calendar { justify-self: end; } }

@media (min-width: 1800px) { #site .cloth-container { grid-template-columns: 600px 300px 1fr; grid-template-rows: 152px 400px 200px auto; grid-gap: 24px 18px; gap: 24px 18px; }
  #site .cloth-container .cloth-layer-main-picture { grid-column: 1 / span 1; grid-row: 1/span 3; }
  #site .cloth-container .cloth-layer-brand { grid-column: 3/span 1; grid-row: 1 / span 1; }
  #site .cloth-container .cloth-layer-description { grid-column: 2 / span 1; grid-row: 1/span 1; }
  #site .cloth-container .cloth-layer-calendar { grid-column: 2/span 1; grid-row: 2/span 2; }
  #site .cloth-container .cloth-layer-pictures { display: grid; grid-gap: 24px 18px; gap: 24px 18px; grid-template-columns: repeat(auto-fill, 225px); justify-content: start; grid-auto-rows: 300px; overflow-y: auto; }
  #site .cloth-container .cloth-layer-recommendations { grid-column: 1/span 3; grid-row: 4/span 1; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; }
  #site .cloth-container .cloth-layer-recommendations > div:nth-child(n + 5) { display: none; }
  #site .cloth-container .cloth-layer-recommendations > div { margin-right: 18px; }
  #site .cloth-container .cloth-layer-pictures, #site .cloth-container .cloth-layer-pictures-empty { height: 624px; grid-column: 3/span 1; grid-row: 2/span 2; }
  #site .cloth-container .cloth-layer-calendar { justify-self: end; } }

#site .member-layer-presentation { position: absolute; overflow-y: auto; overflow-x: hidden; }

#site .member-layer-all-pictures { position: absolute; overflow-y: auto; display: grid; justify-content: space-between; }

@media (max-width: 400px) { #site .member-layer-presentation { left: 6px; top: 6px; right: 6px; height: 100px; grid-gap: 8px 6px; gap: 8px 6px; grid-template-columns: 75px 1fr; display: grid; grid-template-rows: 1fr 1fr; }
  #site .member-layer-presentation > *:first-child { grid-column: 1 / span 1; grid-row: 1 / span 2; }
  #site .member-layer-presentation > *:nth-child(2) { grid-column: 2 / span 1; grid-row: 1 / span 1; overflow-y: auto; }
  #site .member-layer-presentation > *:nth-child(3) { grid-column: 2 / span 1; grid-row: 2 / span 1; overflow-y: auto; }
  #site .member-layer-all-pictures { left: 6px; right: 6px; top: 112px; bottom: 6px; grid-template-columns: repeat(auto-fill, 37.5px); grid-auto-rows: 50px; grid-gap: 8px 6px; gap: 8px 6px; } }

@media (min-width: 400px) and (max-width: 600px) { #site .member-layer-presentation { left: 9px; top: 9px; right: 9px; height: 200px; grid-gap: 12px 9px; gap: 12px 9px; grid-template-columns: 150px 1fr; display: grid; grid-template-rows: 1fr 1fr; }
  #site .member-layer-presentation > *:first-child { grid-column: 1 / span 1; grid-row: 1 / span 2; }
  #site .member-layer-presentation > *:nth-child(2) { grid-column: 2 / span 1; grid-row: 1 / span 1; overflow-y: auto; }
  #site .member-layer-presentation > *:nth-child(3) { grid-column: 2 / span 1; grid-row: 2 / span 1; overflow-y: auto; }
  #site .member-layer-all-pictures { left: 9px; right: 9px; top: 218px; bottom: 9px; grid-template-columns: repeat(auto-fill, 75px); grid-auto-rows: 100px; grid-gap: 8px 6px; gap: 8px 6px; } }

@media (min-width: 600px) and (max-width: 900px) { #site .member-layer-presentation { left: 9px; top: 9px; bottom: 9px; width: 150px; }
  #site .member-layer-all-pictures { left: 168px; right: 9px; top: 9px; bottom: 9px; grid-template-columns: repeat(auto-fill, 75px); grid-gap: 12px 9px; gap: 12px 9px; } }

@media (min-width: 900px) and (max-width: 1200px) { #site .member-layer-presentation { left: 12px; top: 12px; bottom: 12px; width: 225px; }
  #site .member-layer-all-pictures { left: 249px; right: 12px; top: 12px; bottom: 12px; grid-template-columns: repeat(auto-fill, 150px); grid-gap: 16px 12px; gap: 16px 12px; } }

@media (min-width: 1200px) and (max-width: 1800px) { #site .member-layer-presentation { left: 18px; top: 18px; bottom: 18px; width: 300px; }
  #site .member-layer-all-pictures { left: 336px; right: 18px; top: 18px; bottom: 18px; grid-template-columns: repeat(auto-fill, 150px); grid-gap: 24px 18px; gap: 24px 18px; } }

@media (min-width: 1800px) { #site .member-layer-presentation { left: 90px; top: 18px; bottom: 18px; width: 600px; }
  #site .member-layer-all-pictures { left: 708px; right: 90px; top: 18px; bottom: 18px; grid-template-columns: repeat(auto-fill, 225px); grid-gap: 24px 18px; gap: 24px 18px; } }

#site .member-abstract { grid-gap: 16px 12px; gap: 16px 12px; }

@media (min-width: 900px) { #site .member-abstract { display: grid; grid-template-columns: auto 1fr 266.66667px; } }

@media (max-width: 900px) { #site .member-abstract .member-abstract-description { display: grid; grid-template-columns: 1fr 266.66667px; margin-bottom: 12px; }
  #site .member-abstract .member-abstract-pictures { display: grid; grid-template-columns: 1fr 150px; } }

#site .member-abstract .member-mosaic { display: grid; grid-template-columns: repeat(auto-fill, 75px); grid-auto-rows: 100px; max-height: 200px; justify-content: start; overflow-y: auto; grid-gap: 4px 3px; gap: 4px 3px; }

#site .cloth-abstract { grid-gap: 16px 12px; gap: 16px 12px; }

@media (min-width: 900px) { #site .cloth-abstract { display: grid; grid-template-columns: auto 1fr 266.66667px; } }

@media (max-width: 900px) { #site .cloth-abstract .cloth-abstract-description { display: grid; grid-template-columns: 1fr 266.66667px; margin-bottom: 6px; }
  #site .cloth-abstract .cloth-abstract-pictures { display: grid; grid-template-columns: 1fr 150px; } }

#site .cloth-abstract .cloth-mosaic { display: grid; grid-template-columns: repeat(auto-fill, 75px); grid-auto-rows: 100px; max-height: 200px; justify-content: start; overflow-y: auto; grid-gap: 4px 3px; gap: 4px 3px; }

#site form.main-form { width: 450px; }

#site form.main-form h1, #site form.main-form h2, #site form.main-form h3, #site form.main-form h4, #site form.main-form h5, #site form.main-form h6 { width: 450px; display: flex; align-items: center; justify-content: center; }

#site form.main-form label { width: 450px; height: 20px; width: 100%; height: 100%; display: block; }

#site form.main-form button, #site form.main-form input, #site form.main-form select, #site form.main-form option { width: 450px; height: 40px; margin-bottom: 12px; padding-left: 9px; }

#site .closeButton { position: absolute; right: 0; top: 0; cursor: pointer; }

#site .modal-window-fix, #site .modal-window-fluid { border: solid 1px; border-color: #4C4C4A48; stroke: #4C4C4A; overflow: auto; left: 0; padding-right: 37.5px; }

@media (max-width: 600px) { #site .modal-window-fix, #site .modal-window-fluid { right: 0; } }

@media (min-width: 600px) { #site .modal-window-fix, #site .modal-window-fluid { width: 600px; } }

#site .modal-window-fix .close-button, #site .modal-window-fluid .close-button { font-weight: bolder; color: #FF66D8; stroke: #FF66D8; position: absolute; right: 0; top: 0; width: 45px; height: 45px; font-size: 1.5em; display: flex; align-items: center; justify-content: center; cursor: pointer; }

#site .modal-window-fix { position: fixed; bottom: 0; }

@media (max-width: 600px) { #site .modal-window-fix { top: 80px; } }

@media (max-width: 600px) and (min-height: 960px) { #site .modal-window-fix { top: 200px; } }

@media (min-width: 600px) { #site .modal-window-fix { top: 100px; } }

@media (min-width: 600px) and (min-height: 960px) { #site .modal-window-fix { top: 220px; } }

@media (min-height: 960px) { #site .modal-window-fix { bottom: 20%; } }

#site .modal-window-fluid { position: absolute; }

#site .modal-window-fix, #site .modal-window-fluid { color: #191916; background-color: #FFFCE5; stroke: #191916; fill: #FFFCE5; opacity: 0.96; }

#site .modal-form { width: 400px; }

#site .modal-form .modal-form-group > label { font-weight: bolder; }

#site .modal-form .modal-form-group > label, #site .modal-form .modal-form-group > div { position: relative; border-bottom: solid 1px; border-color: #4C4C4A48; stroke: #4C4C4A; padding: 9px 37.5px 9px 9px; display: block; height: 37.5px; max-height: 37.5px; max-width: 400px; }

#site .modal-form .modal-form-group > label .modal-form-control, #site .modal-form .modal-form-group > div .modal-form-control { width: 37.5px; position: absolute; top: 0; right: 0; bottom: 0; display: flex; align-items: center; justify-content: center; cursor: pointer; }

#site .modal-form .modal-form-group > label input, #site .modal-form .modal-form-group > div input { position: absolute; top: 0; right: 37.5px; bottom: 0; left: 0; background: none; border: none; padding-right: 37.5px; padding-left: 9px; width: 100%; height: 100%; }

#site .modal-form .modal-form-group:not(:last-of-type) { margin-bottom: 9px; }

#site .modal-end { width: 400px; display: flex; justify-content: flex-end; }

#site .modal-end .modal-button { width: 100px; padding: 9px; }

#site .calendar { overflow-y: auto; padding: 9px; border: solid 1px; border-color: #26262548; stroke: #262625; }

#site .calendar .calendar-line { position: relative; border-bottom: solid 1px; border-color: #4C4C4A48; stroke: #4C4C4A; padding: 9px 37.5px 9px 9px; display: block; height: 37.5px; max-height: 37.5px; }

#site .calendar .calendar-line .calendar-line-control { width: 37.5px; position: absolute; top: 0; right: 0; bottom: 0; display: flex; align-items: center; justify-content: center; }

#site .calendar .calendar-line .calendar-line-control.available { color: #32FF32; stroke: #32FF32; cursor: pointer; }

#site .calendar .calendar-line .calendar-line-control.not-available { color: #FF32CC; stroke: #FF32CC; cursor: not-allowed; }

#site .calendar .calendar-line .calendar-line-month { position: absolute; top: 3px; right: 37.5px; bottom: 0; left: 0; background: none; border: none; padding-right: 37.5px; padding-left: 9px; display: flex; align-items: center; width: 100%; height: 100%; }

#site .calendar .calendar-line .calendar-line-year { position: absolute; top: 0; left: 0; bottom: 18.75px; float: left; font-family: "Lemonada", "Comic Sans", sans-serif; font-weight: normal; font-size: 8px; font-style: italic; }

#site form input, #site form select, #site form option { color: #191916; background-color: #FFF266; stroke: #191916; fill: #FFF266; border-bottom: solid 1px; }

#site form button { color: #161916; background-color: #66FF66; stroke: #161916; fill: #66FF66; }

#site form button:hover { color: #161916; background-color: #CCFFCC; stroke: #161916; fill: #CCFFCC; }

#site hr { border-color: #4C4C4A48; stroke: #4C4C4A; color: #4C4C4A48; stroke: #4C4C4A; border-bottom: solid 1px; margin-top: 18px; margin-bottom: 18px; }
