@mixin lato() {
  font-family: "Lato", sans-serif;
  font-weight: normal;
}

@mixin latoBold() {
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

@mixin courier() {
  font-family: "Courier Prime", "Andale Mono", monospace;
  font-weight: normal;
}

@mixin lemonada() {
  font-family: "Lemonada", "Comic Sans", sans-serif;
  font-weight: normal;
}

@mixin lemonadaLight() {
  font-family: "Lemonada", "Comic Sans", sans-serif;
  font-weight: lighter;
}
