@import "Graphics/fonts";
@import "Graphics/colors";
@import "Layouts/positionTools";
@import "Layouts/siteLayout";
@import "Layouts/horizontalMenu";

@import "Layouts/pages";
@import "Layouts/components";

/*
@TODO : trier

@import "Layouts/flexGrids";
@import "Layouts/containers";
@import "Layouts/gaps";
@import "Layouts/picturesSizes";
@import "Layouts/controls";
@import "Layouts/formsMain";
@import "Layouts/positioning";

@import "components-layouts";
@import "pages-layouts";*/

@mixin reset() {

  * {
    box-sizing: border-box;
  }

  h1, h2, h3, h4, h5, h6, hr, a, p, div, nav, section, article, ul, li, button, input, select, pre {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }

  li {
    list-style-type: none;
  }

  h1 {
    font-size: 1.5em;
  }
  h2 {
    @include mediaMaxSmall() {
      font-size: 1.2em;
    }
    @include mediaMinNormal() {
      font-size: 1.4em;
    }
  }
  h3 {
    @include mediaMaxSmall() {
      font-size: 1.1em;
    }
    @include mediaMinNormal() {
      font-size: 1.3em;
    }
  }
  h4 {
    @include mediaMaxSmall() {
      font-size: 1.1em;
    }
    @include mediaMinNormal() {
      font-size: 1.2em;
    }
  }
  h5 {
    font-size: 1.1em;
  }
  h6 {
    font-size: 1em;
  }

  button, input, select, option {
    border: none;
    box-shadow: none;
    background: none;
    color: inherit;
    font-size: 0.9em;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

@mixin fonts() {

  @include lato();

  input, select, option {
    @include lato();
  }

  pre {
    @include courier();
  }

  a {
    text-decoration: none;
  }

  h1, h2, h3, h4, h5, h6, header, footer, button {
    @include lemonada();
  }
  button {
    font-size: 12px;
  }

  li {
    list-style-type: none;
  }

  button, input, select, option, nav ul li, a {
    cursor: pointer;
  }
}

#site {

  @include reset();
  @include fonts();
  @include colors();
  @include positionTools();
  @include siteLayout();
  @include horizontalMenu();

  @include pages();
  @include components();

  /*
@TODO : trier

  @include containers();
  @include gaps();
  @include gridsLayouts();
  @include pictures();
  @include controls();
  @include formsMain();
  @include positioning();

  @include components();
  @include pages();*/
}