@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8o2bwl');
  src:  url('fonts/icomoon.eot?8o2bwl#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8o2bwl') format('truetype'),
    url('fonts/icomoon.woff?8o2bwl') format('woff'),
    url('fonts/icomoon.svg?8o2bwl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-square-full:before {
  content: "\e903";
}
.icon-square:before {
  content: "\e904";
}
.icon-circle:before {
  content: "\e901";
}
.icon-disk:before {
  content: "\e902";
}
.icon-cloth:before {
  content: "\e900";
}
